<div class="course-group">
    <div class="top-group">
        <span class="title-group">热门航线</span>
    </div>
</div>
<div class="pay-info-group">
    {% if hots %}
        {% for item in hots %}

            {% if item.hotSailContent %}
                <a href="{% url 'ticket:search' %}?q={{ item.hotSailContent }}&departureDate=-1">{{ item.hotSailContent }}</a><br>
            {% endif %}

        {% endfor %}

    {% endif %}
</div>
<div class="focus-group">
    <div class="title-group">历史搜索</div>
    <div class="website-group">
        <div class="left-group">
            <div class="item-group">
                {% if records %}
                     {% for item in records %}
                         {% if item.searchKey %}
                        <div class="text-group">
                            <a href="{% url 'ticket:search' %}?q={{ item.searchKey }}&departureDate=-1">{{ item.searchKey }}</a>
                        </div>
                         {% endif %}
                     {% endfor %}
                {% endif %}
            </div>

        </div>
    </div>
</div>