<div class="course-group">
    <div class="top-group">
        <span class="title-group">热门航线</span>
    </div>
</div>
<div class="pay-info-group">
    {% if hots %}
        {% for item in hots %}

                <a href="{% url 'ticket:search' %}?departureCity={{ item.departureCity }}&arrivalCity={{ item.arrivalCity }}&departureDate=-1">
                                {% if item.departureCity %}
                                    出发地：{{ item.departureCity }}
                                {% endif %}
                                {% if item.arrivalCity %}
                                    目的地：{{ item.arrivalCity }}
                                {% endif %}

                </a>


        {% endfor %}

    {% endif %}
</div>
<div class="focus-group">
    <div class="title-group">历史搜索</div>
    <div class="website-group">
        <div class="left-group">
            <div class="item-group">
                {% if records %}
                     {% for item in records %}

                        <div class="text-group">
                            <a href="{% url 'ticket:search' %}?departureCity={{ item.departureCity }}&arrivalCity={{ item.arrivalCity }}&departureDate=-1">
                                {% if item.departureCity %}
                                    出发地：{{ item.departureCity }}
                                {% endif %}
                                {% if item.arrivalCity %}
                                    目的地：{{ item.arrivalCity }}
                                {% endif %}

                            </a>
                        </div><br/>

                     {% endfor %}
                {% endif %}
            </div>

        </div>
    </div>
</div>