{% extends 'base/front_base.html' %}


{% block head %}
    <link rel="stylesheet" href="{% static 'css/news/search.css' %}">
    <style>
        .search_highlight{
            color: red;
        }
    </style>

    <link rel="stylesheet" href="{% static 'css/news/news.css' %}">
    {# 轮播图功能代码需要引入的bootstrap.min.js和bootstrap.min.css #}
    <link rel="stylesheet" href="{% static 'css/base/side.css' %}">
    <link rel="stylesheet" href="{% static 'css/news/bootstrap.min.css' %}">
{#  引入arttemplat  #}
    <script src="{% static 'js/template-web.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script id="news-item" type="text/html">
    {# 该标签是django标签，用于指示包裹的文件不处理，只作为字符串 #}
    {% verbatim %}
    {{ each newes news index }}
        <li>
            <div class="thumbnail-group">
                <a href="/detail/{{ news.id }}">
                    <img src="{{ news.thumbnail }}" alt="">
                </a>
            </div>
            <div class="news-group">
                <div class="title">
                    <a href="/detail/{{ news.id }}">{{ news.title }}</a>
                </div>
                <p class="desc">{{ news.desc }}</p>
                <div class="news-more-group">
                    <span class="category">{{ news.category.name }}</span>
                    <span class="pub-time">{{ news.pub_time|timeSince }}</span>
                    <span class="author">{{ news.author.username }}</span>

                </div>
            </div>
        </li>
    {{ /each }}
    {% endverbatim %}
    </script>
{% endblock %}

{% block main %}
    <div class="main">
		<div class="main-container">
        <form action="" method="get">
			<div class="search-group">

                    <input type="text" class="search-input" style="width:512px" placeholder="请输入关键字" name="q">
                    <button class="search-btn">搜索</button>

			</div>
            <div class="search-group">
                <select class="search-input" name="departureDate">
                    <option value="-1">请选择出发日期</option>
                    {% for item in chuFaDate %}
                    <option value="{{ item.departureDate }}">{{ item.departureDate }}</option>
                    {% endfor %}
                </select>
            </div>
         </form>
            <div class="list-group">
                {% if flag == 2 %}
                    <p class="list-search-title">
                    搜索结果:
                    </p>
                {% elif flag == 1 %}
                    <p class="list-search-title" style="color: red">
                    暂未搜索到相关内容
                    </p>
                {% endif %}
                 <ul class="news-list-group">
                 <table class="table table-condensed">
                     <tr>
                         <th>出发城市</th>
                         <th>到达城市</th>
                         <th>出发时间</th>
                         <th>出发机场</th>
                         <th>到达时间</th>
                         <th>到达机场</th>
                         <th>机票价格</th>
                         <th>航空公司</th>
                         <th>航班号</th>
                     </tr>
                     {% for item in newes %}
                    <tr>
                        <td class="active" >{{ item.departureCityName }}</td>
                        <td class="success">{{ item.arrivalCityName }}</td>
                        <td class="active">{{ item.departureDate }} {{ item.departureDatetime }}</td>
                        <td class="active">{{ item.departureAirportName }}</td>
                        <td class="success">{{ item.arrivalDate }} {{ item.arrivalDatetime }}</td>
                        <td class="success">{{ item.arrivalAirportName }}</td>
                        <td class="warning">{{ item.printprice }}</td>
                        <td class="danger">{{ item.airlineName }}</td>
                        <td class="info">{{ item.flightNumber }}</td>
                    </tr>
                     {% endfor %}
                </table>

            </ul>
                 <div class="load-more-group">

            </div>
            </div>
		</div>
		<div class="sidebar-container">
            {% include 'base/side.html' %}
        </div>
	</div>
{% endblock %}